<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.construyareact">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--<meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="MN4AGeQNvEVM_Zvj0UHgJQ" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="IJQUuZ-jj0oWqj3UmC8vudskyXt5&#45;&#45;p1vcVQY0N9Iy748o5nR2eotJIZ9htIdm19xKGzILNIuKFW_9c5fhgevA" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4JBUFZwsANl-Bt-yCwDC-bYhedCCfbPs"/>

        <!-- You will also only need to add this uses-library tag -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
